@import "bourbon";
@import "vars.scss";
@import "../libs/font-awesome/css/font-awesome.min.css";
@import "../libs/lightslider/dist/css/lightslider.min.css";


body{
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.6;
	font-family: "RobotoRegular", sans-serif;
	overflow-x: hidden;
	background-color: #fff;
    color: #000;
}

a,button,input,textarea{
	text-decoration: none;
	outline: 0;
	border: 0;
	@include transition(color 0.4s ease, background-color 0.4s ease, border-color 0.4s ease);
	&:focus{
		outline: 0;
		border: 0;
	}
}

.inner{
	max-width: 1740px;
	margin: 0 auto;
	position: relative;
}

button{
	&:hover{
		cursor: pointer;
	}
}

.hidden{
	display: none;
}


header{
	background-image: url("../img/bg-head.jpg");
	background-position: left;
	background-repeat: no-repeat;
	padding-top: 40px;
	background-size: 97%;
  @media only screen and (max-width : 1750px){
      background-size: cover;
      padding: 25px;
  }
  @media only screen and (max-width : 700px){
    padding: 25px 15px;

  }

}


.logo{
	float: left;
	*{
		display: inline-block;
		vertical-align: middle;
	}
	p{
		font-size:20px;
		line-height: 25px;
		color: #fff;
		opacity: 0.6;
		margin-left: 40px;
	}
  @media only screen and (max-width : 1450px){
     p{
       display: block;
       margin-left: 0;
       margin-top: 14px;
     }
  }
  @media only screen and (max-width : 700px){
    float: none;
  }
  @media only screen and (max-width : 500px){
    max-width: 266px;
    img{
      max-width: 206px;
    }
    p{
      font-size: 18px;
      br{
        display: none;
      }
    }
  }
}

.social{
	margin-left: 50px;
	float: left;
	ul{
		li{
			float: left;
			a{
				margin: 0 3px;
				display: block;
				border: 1px solid rgba(255,255,255, 0.15);
				border-radius: 120px;
				width: 55px;
				height: 55px;
				text-align: center;
				padding-top: 8px;
				color: #fff;
				font-size:23px;
				&:hover{
					color: red;
				}
			}
		}
	}
  @media only screen and (max-width : 1450px){
    margin-left: 150px;
  }
  @media only screen and (max-width : 1320px){
    margin-left: 70px;
  }
  @media only screen and (max-width : 1221px){
    margin-left: 20px;
  }
  @media only screen and (max-width : 1171px){
    margin-left: 15px;
  }
  @media only screen and (max-width : 1096px){
    display: none;
  }
}


.right-head{
	float: right;
  @media only screen and (max-width : 700px){
    float: none;
    text-align: center;
  }

}

.city{
	display: inline-block;
	vertical-align: top;
	h3{
		font-size:22px;
		color: #fff;
		text-align: right;
		font-family:FuturaNewBook;
		line-height: 33px;
	}
  @media only screen and (max-width : 1171px){
    h3{
      font-size: 18px;
    }
  }
  @media only screen and (max-width : 700px){
    margin-top: 25px;
  }
}
.popup-but{
	display: inline-block;
	vertical-align: top;
	margin-top: 19px;
	margin-left: 35px;
	a{
		color: #fff;
		font-size:18px;
		font-family:FuturaNewHeavy;
		background-color: #ff0920;
		padding: 14.5px 39px;
        border: 5px solid #ff0920;
		&:hover{
			text-decoration: none;
			background-color: transparent;
		}
	}
  @media only screen and (max-width : 1171px){
    margin-left: 10px;
  }
	@media only screen and (max-width : 991px){
		display: block;
	}
  @media only screen and (max-width : 700px){
    position: absolute;
    bottom: -100px;
    left: 50%;
    margin-left: -127.5px;
  }
}

.head-menu{
	margin-top: 35px;
	display: block;
	border-top: 1px solid rgba(255,255,255, 0.3);
	li{
		float: left;
		&:first-child{
			a{
				margin-left: 0;
			}
		}
	}
	a{
		color: #fff;
		font-size: 26px;
		font-family:FuturaNewBook;
		padding-top: 33px;
		display: block;
		border-top: 3px solid transparent;
		position: relative;
		z-index: 68;
		margin: 0 34px;
		&:hover{
			border-top: 3px solid #ff0920;
			color: #ff0920;
			text-decoration: none;
		}
	}
    @media only screen and (max-width : 1116px){
      a{
        margin: 0 20px;
      }
    }
	@media only screen and (max-width : 991px){
		display: none;
	}

}


.head-banner{
	margin-top: 100px;
	margin-bottom: 150px;
	h1{
		font-size:80px;
		color: #fff;
		line-height: 85px;
		font-family:FuturaNewDemi;
	}
	span{
		color: #ff0920;
	}
	@media only screen and (max-width : 991px){
		h1{
			font-size: 38px;
			line-height: 40px;
		}
	}
    @media only screen and (max-width : 500px){
      h1{
        font-size: 28px;
        line-height: 30px;
        br{
          display: none;
        }
      }
    }

}


$hamburger-hover-opacity: 1;
$hamburger-types: (arrow);
$hamburger-layer-color: #fff;

@import "../libs/CSS-Hamburgers/dist/css-hamburgers.min.css";