@import "bourbon";
@import "vars.scss";

*::-webkit-input-placeholder{
    color: #666;
    opacity: 1;
}

*:-moz-placeholder{
    color: #666;
    opacity: 1;
}

*::-moz-placeholder{
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder{
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid{
    color: #666;
}

body input:required:valid,
body textarea:required:valid{
    color: #666;
}

//Custom Styles Here

.experience{
    ul{
        width: 100%;
    }
    li{
        height: 300px;
        float: left;
        width: 25%;
        border-right: 1px solid #dae5e9;
        padding-left: 60px;
        padding-top: 50px;
        &:first-child{
            padding-left: 0;
        }
        &:last-child{
            border-right: 0;
        }
        h2{
            padding-top: 25px;
            font-size:60px;
            line-height: 60px;
            color: #ff0920;
            font-family:FuturaNewDemi;
        }
        p{
            color: #000000;
            font-size:30px;
            line-height: 35px;
            font-family: FuturaLight-NormalRegular;
        }
    }
    @media only screen and (max-width : 1750px){
        li{
            &:first-child{
                padding-left: 60px;
            }
        }
    }
    @media only screen and (max-width : 1500px){
        li{
            padding-left: 25px;
            padding-top: 30px;
            &:first-child{
                padding-left: 25px;
            }
            h2{
                font-size: 40px;
            }
            p{
                font-size: 25px;
                line-height: 35px;
                padding-bottom: 20px;
            }
        }
    }
    @media only screen and (max-width : 700px){
        li{
            width: 50%;
            height: auto;
            padding-top: 15px;
            &:nth-child(2n){
                border-right: none;
                border-bottom: 1px solid #dae5e9;
            }
            &:nth-child(2n+1){
                border-bottom: 1px solid #dae5e9;
            }

        }
    }
    @media only screen and (max-width : 512px){
        li{
            padding-left: 15px;
            &:first-child{
                padding-left: 15px;
            }
            &:nth-child(3n){
                min-height: 280px;
            }
            &:nth-child(4n){
                min-height: 280px;
            }
        }
    }
    @media only screen and (max-width : 383px){
        li{
            height: 184px;
            p{
                line-height: 29px;
            }
        }
    }

}

.amenities{
    background-color: #eaf3f6;
    left: 90px;
    position: relative;
    margin-bottom: 70px;
    padding-bottom: 60px;
    .inner{
        right: 90px;
    }
    @media only screen and (max-width : 1750px){
        left: 0;
        .inner{
            right: 0;
        }
    }
    @media only screen and (max-width : 400px){
        .inner{
            padding: 0 15px;
        }
    }
}


.all-title{
    top: -29px;
    left: -3px;
    position: absolute;
    background-color: #2d2d2d;
    padding: 17px 90px;
    .red-line{
        width: 29px;
        height: 3px;
        background-color: #ff0920;
        margin-left: 4px;
    }
    h2{
        color: #fff;
        font-size:50px;
        font-family: FuturaNewHeavy;
    }
    @media only screen and (max-width : 991px){
        left: 25px;
        h2{
            font-size: 35px;
            line-height: 35px;
        }
    }
    @media only screen and (max-width : 512px){
        padding: 20px 25px;
        h2{
            padding-top: 15px;
        }
        .red-line{
            margin-left: 0;
        }

    }
    @media only screen and (max-width : 400px){
        position: relative;
        left: 0;
    }
    @media only screen and (max-width : 380px){
        position: relative;
        max-width: 345px;
        margin: 0 auto;
    }
}


.am-items{
    padding-top: 121px;
    text-align: center;
    li{
        display: inline-block;
        vertical-align: top;
        text-align: left;
        margin: 29.5px 30px;
        background-color: #fff;
        max-width: 750px;
        p{
            font-size: 20px;
            font-family:FuturaNewBook;
        }
        .text-am{
            padding: 38px 65px 38px 50px;
            @media only screen and (max-width : 991px){
                padding-top: 20px;
            }
        }
        @media only screen and (max-width : 1750px){
            margin: 29.5px 14px;
            &:nth-child(2n){
                margin-right: 0;
            }
            &:nth-child(2n+1){
                margin-left: 0;
            }
        }
        @media only screen and (max-width : 1450px){
            max-width: 600px;
        }
        @media only screen and (max-width : 1231px){
            max-width: 500px;
        }
        @media only screen and (max-width : 1031px){
            max-width: 400px;
            .title-item{
                img{
                    height: 300px;
                }
                h2{
                    font-size: 28px;
                    line-height: 30px;
                    left: 21px;
                }
            }
            .price-am{
                text-align: center;
                a{
                    float: none;
                    margin: 10px auto;
                    max-width: 169px;
                }
            }
        }

        @media only screen and (max-width : 770px){
            max-width: 345px;
            .text-am{
                padding: 20px 15px;
            }
        }
        @media only screen and (max-width : 719px){
            margin: 10px;
            &:nth-child(2n){
                margin: 10px;
            }
            &:nth-child(2n+1){
                margin: 10px;
            }

        }


    }
    .title-item{
        height: 363px;
        position: relative;
        h2{
            position: absolute;
            bottom: 25px;
            left: 54px;
            color: #fff;
            font-size:50px;
            line-height: 52px;
            font-family:FuturaNewDemi;
        }
        img{
            width: 100%;
        }
        @media only screen and (max-width : 1450px){
            height: auto;
        }
    }

    @media only screen and (max-width : 400px){
        padding-top: 0px;
    }
}


.price-am{
    margin-top: 35px;
    h3{
        color: #ff0920;
        font-size: 36px;
        font-family:FuturaNewHeavy;
        display: inline-block;
    }
    span{
        font-family:FuturaNewBook;
        color: #3e3e3e;
    }
    a{
        float: right;
        display: block;
        font-size: 20px;
        color: #ff0920;
        border: 5px solid #eaf3f6;
        font-family:FuturaNewDemi;
        padding: 4.5px 30.5px;
        &:hover{
            border: 5px solid #ff0920;
            text-decoration: none;
        }
    }
}


.auto-slide{
    background-color: #212425;
    position: relative;
    right: 90px;
    .inner{
        left: 90px;
    }
    .all-title{
        left: 45%;
        z-index: 69;
        h2{
            line-height: 55px;
        }
        @media only screen and (max-width : 1320px){
            left: 0;
        }
        @media only screen and (max-width : 500px){
            position: relative;
        }
    }
    .lSSlideOuter .lSPager.lSpg{
        position: absolute;
        bottom: 150px;
        left: 52%;
    }
    .lSSlideOuter .lSPager.lSpg>li a{
        padding-top: 5px;
        background-color: #4b5153;
        width: 16px;
        height: 16px;
        border-radius: 120px;
        display: block;
        margin: 0 10px;
        &:hover{
            background-color: #fff;
        }
    }
    .lSSlideOuter .lSPager.lSpg>li.active a, .lSSlideOuter .lSPager.lSpg>li:hover a{
        background-color: #fff;
    }
    @media only screen and (max-width : 1750px){
        right: 0;
        .inner{
            left: 0;
        }
    }
    @media only screen and (max-width : 1450px){
        .lSSlideOuter .lSPager.lSpg{
            position: absolute;
            bottom: 100px;
        }
    }
    @media only screen and (max-width : 1320px){
        padding: 0 25px;
       .lSSlideOuter .lSPager.lSpg{
            left: 55%;
        }
    }
    @media only screen and (max-width : 991px){
        padding: 0 15px;
        .lSSlideOuter .lSPager.lSpg{
            left: 50%;
            margin-left: -92px;
            bottom: 200px;
        }
        .slider-auto-inputs{
            padding: 70px 0;
            margin-top: 70px;
        }
        .arrow-slider-a{
            text-align: center;
            padding: 0;
        }
    }
    @media only screen and (max-width : 512px){
        .all-title{
            h2{
                line-height:35px;
            }
        }

    }
}

.img-slide-auto{
    padding-top: 69px;
    margin-left: 90px;
    img{
        width: 100%;
    }
    @media only screen and (max-width : 1450px){
        margin-left: 25px;
    }
    @media only screen and (max-width : 991px){
        margin-left: 0;
        padding-top: 137px;
    }
    @media only screen and (max-width : 500px){
        padding-top: 0px;
    }

}

.right-text-auto{
    padding-top: 150px;
    padding-left: 30px;
    h2{
        color: #ff0920;
        font-size: 46px;
        font-family:FuturaNewDemi;
    }
    p{
        padding-top: 15px;
        font-size: 20px;
        color: #fff;
        font-family:FuturaNewBook;

    }
    @media only screen and (max-width : 1450px){
        padding: 135px 0 0 0 ;
        text-align: center;
    }
    @media only screen and (max-width : 991px){
        padding-top: 25px;
    }
    @media only screen and (max-width : 500px){
        h2{
            font-size:28px;
        }
        text-align: left;
    }
}


.slider-auto-inputs{
    padding-left: 30px;
    padding-top: 30px;
    @media only screen and (max-width : 1450px){
        padding-bottom: 70px;
    }
}





.arrow-slider-a{
    text-align: right;
    padding-right: 90px;
    *{
        display: inline-block;
        vertical-align: top;
    }
    a{
        border: 5px solid #2f3234;
        display: block;
        width: 85px;
        height: 85px;
        margin: 0 7.5px;
        &:hover{
            border: 5px solid #ff0920;
        }
    }
    .left-arrow-a{
        a{
            background-image: url("../img/arrow-slide-l.png");
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .right-arrow-a{
        background-image: url("../img/arrow-slide-r.png");
        background-repeat: no-repeat;
        background-position: center;
    }
}



.reviews{
    margin: 107px 0;
    background-color: #ebf3f6;
    position: relative;
    left: 90px;
    .inner{
        right: 90px;
    }
    @media only screen and (max-width : 1750px){
        left: 0;
        .inner{
            right: 0;
        }
    }
    @media only screen and (max-width : 991px){
        padding: 0 25px;
        text-align: center;
        margin: 50px 0;
        .all-title{
            left: 0;
        }
    }
}



.slider-reviews{
    min-height: 425px;
    li{
        position: relative;
        padding-top: 130px;
        @media only screen and (max-width : 400px){
            padding-top: 0;
        }
    }
    ul{
        height: auto !important;
    }
    .lSSlideOuter .lSPager.lSpg>li a{
        background-color: #cddadf;
        width: 15px;
        height: 15px;
    }
    .lSSlideOuter .lSPager.lSpg>li.active a, .lSSlideOuter .lSPager.lSpg>li:hover a{
        background-color: #ff0920;
    }
    @media only screen and (max-width : 991px){
        .lSSlideOuter .lSPager.lSpg{
            position: relative;
            top: -180px;
        }
    }


}

.img-client{
    width: 181px;
    height: 181px;
    border-radius: 120px;
    overflow: hidden;
    text-align: center;
    margin-left: 200px;
    img{
        width: 100%;
    }
    @media only screen and (max-width : 1450px){
        margin: 0 auto;
    }
}


.text-client{
    h2{
        font-size:28px;
        color: #000;
        font-family:FuturaNewDemi;
    }
    p{
        font-size: 20px;
        font-family:FuturaNewBook;
    }
    h3{
        font-size:26px;
        padding-top: 15px;
        color: #000;
        font-family:FuturaNewDemi;

    }
    @media only screen and (max-width : 991px){
        text-align: center;
    }
}



.arrow-slider-r{
    padding-top: 48px;
    *{
        display: inline-block;
        vertical-align: top;
    }
    a{
        border: 5px solid #cddadf;
        width: 85px;
        height: 85px;
        display: block;
        margin: 0 7.5px;
        &:hover{
            border: 5px solid #ff0920;
        }

    }
    .left-arrow-r{
        background-image: url("../img/arrow-slider-l.png");
        background-position: center;
        background-repeat: no-repeat;
        &:hover{
            background-image: url("../img/arrow-slider-red-l.png");
        }
    }
    .right-arrow-r{
        background-image: url("../img/arrow-slider-r.png");
        background-position: center;
        background-repeat: no-repeat;
        &:hover{
            background-image: url("../img/arrow-slider-red-r.png");
        }
    }
    @media only screen and (max-width : 1320px){
        margin-left: -45px;
    }
    @media only screen and (max-width : 991px){
        margin: 0 auto;
        display: inline-block;
        padding: 70px 0 30px 0;
    }
}




.quest{
    background-color: #ebf3f6;
    position: relative;
    right: 90px;
    .inner{
        left: 90px;
    }
    @media only screen and (max-width : 1750px){
        right: 0;
        .inner{
            left: 0;
        }
    }
    @media only screen and (max-width : 700px){
        padding: 0 15px;
    }
}

.left-q-d{
    float: left;
    width: 50%;
    padding-top: 80px;
    padding-left: 90px;
    h2{
        font-size:50px;
        color: #ff0920;
        font-family:FuturaNewHeavy;
    }
    p{
        font-size: 20px;
        font-family:FuturaNewBook;
        padding-top: 20px;
    }
    @media only screen and (max-width : 1320px){
        padding-left: 25px;

    }
    @media only screen and (max-width : 780px){
        float: none;
        width: 100%;
        padding: 0 15px;
    }
}
.right-foto-dima{
    float: left;
    width: 50%;
    background-image: url("../img/bg-wall.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
    img{
        margin-top: -45px;
    }
    @media only screen and (max-width : 1450px){
        min-height: 623px;
        img{
            margin-top: 0;
            width: 100%;

        }
    }
    @media only screen and (max-width : 1320px){
        img{
            margin-top: 49px;

        }
    }
    @media only screen and (max-width : 1222px){
        min-height: 697px;
        position: relative;
        img{
            margin-top: 0px;
            position: absolute;
            bottom: 0;
            left: 0;

        }
    }
    @media only screen and (max-width : 1162px){
        min-height: 729px;
    }
    @media only screen and (max-width : 978px){
        min-height: 761px;
    }
    @media only screen and (max-width : 921px){
        min-height: 793px;
    }
    @media only screen and (max-width : 857px){
        min-height: 825px;
        img{
            top: 25%;
        }
    }
    @media only screen and (max-width : 831px){
        min-height: 857px;
    }
    @media only screen and (max-width : 813px){
        min-height: 889px;
    }
    @media only screen and (max-width : 780px){
        float: none;
        min-height: auto;
        text-align: center;
        width: 100%;
        img{
            position: relative;
            top: auto;
            left: auto;
            bottom: auto;
        }
    }
}


.name-d{
    margin-top: 20px;
    text-align: right;
    h3{
        font-family:FuturaNewMedium;
        font-size:26px;
        color: #000;
    }
    p{
        padding-top: 0px;
        color: #414748;
    }
    @media only screen and (max-width : 700px){
        text-align: center;
    }
}



.forma{
    margin: 90px 0;
    form{
        border: 5px solid #ebf3f6;
    }
    @media only screen and (max-width : 1750px){
        padding: 25px;
    }
}

.left-img{
    width: 50%;
    position: relative;
    img{
        position: absolute;
        left:-60px;
        top: -50px;
    }
    @media only screen and (max-width : 1600px){
        float: left;
        img{
            position: relative;
            width: 100%;
            top: auto;
            left: auto;
        }
    }
    @media only screen and (max-width : 991px){
        img{
            margin-top: 40px;
            margin-left: -40px;
        }
    }
    @media only screen and (max-width : 700px){
        width: 100%;
        float: none;
        text-align: center;
        img{
            margin-top: -25px;
        }
    }
    @media only screen and (max-width : 380px){
        img{
            margin-left: -20px;
            width: 110%;
        }
    }
}
.right-form{
    width: 50%;
    float: right;
    padding-top: 65px;
    padding-bottom: 70px;
    h2{
        font-size: 45px;
        font-family:FuturaNewDemi;
        line-height: 45px;
    }
    p{
        padding-top: 20px;
        font-size:30px;
        line-height: 35px;
        font-family:FuturaNewBook;
    }
    span{
        color: #ff0920;
    }
    input{
        border: 2px solid #d7d7d7;
        max-width: 360px;
        display: block;
        margin-top: 20px;
        color: #414748;
        width: 100%;
        padding: 10.5px 18px;
        @include placeholder{
            color: #414748;
            font-size: 20px;
            font-family:FuturaNewBook;
        }
    }
    button{
        display: block;
        max-width: 360px;
        text-align: center;
        background-color: #ff0920;
        text-transform: uppercase;
        font-size:20px;
        color: #fff;
        width: 100%;
        padding: 19px 0;
        margin-top: 20px;

    }
    @media only screen and (max-width : 1600px){
        h2{
            font-size: 40px;
        }
    }
    @media only screen and (max-width : 1320px){
        h2{
            font-size: 35px;
        }
    }
    @media only screen and (max-width : 991px){
        h2{
            font-size:29px;
            line-height: 30px;
        }
    }
    @media only screen and (max-width : 700px){
        width: 100%;
        float: none;
        padding: 38px 13px;
        h2{
            font-size: 28px;
            br{
                display: none;
            }
        }
    }
    @media only screen and (max-width : 380px){
        h2{
            font-size: 25px;
        }
        p{
            font-size:24px;
        }
    }
}



footer{
    background-color: #212425;
    padding-top: 70px;
    .logo{
        *{
            display: block;
        }
        p{
            margin-left: 0;
            color: #52575a;
            font-size:16px;
            margin-top: 8px;
        }
        tt{
            color: #7d868b;
            font-size:16px;
            font-family:FuturaNewBook;
            display: block;
            margin-top: 25px;
        }
        span{
            color: #fff;
            display: inline-block;
        }
    }
    .social{
        ul{
            li{
                a{
                    background-color: #2c2f30;
                    border: none;
                }
            }
        }
    }
    .popup-but{
        a{
            background-color: transparent;
            border: 5px solid #383a3b;
            &:hover{
                background-color: transparent;
            }
        }
    }
    @media only screen and (max-width : 1750px){
        padding: 70px 25px;
    }
    @media only screen and (max-width : 1686px){
        .social{
            float: right;
        }
        .right-head{
            margin-top: 15px;
        }
    }
    @media only screen and (max-width : 1109px){
        .logo{
            float: none;
            display: block;
            p{
                display: inline;
            }
            tt{
                position: absolute;
                bottom: 0px;
                left: 0;
            }
        }
        .footer-menu{
            margin-left: 0;
        }
        .social{
            margin-top: -60px;
        }
        .city{
            display: block;
        }

    }
    @media only screen and (max-width : 1096px){
        .social{
            display: block;
        }
    }
    @media only screen and (max-width : 991px){
        .logo{
            tt{
                bottom: -55px;
            }
            span{
                display: block;
            }
        }
    }
    @media only screen and (max-width : 700px){
        padding-bottom: 125px;
        .social{
            float: none;
            margin-left: 0;
            margin-top: 0;
            text-align: center;
            ul{
                display: inline-block;
            }
        }
        .footer-menu{
            float: none;
        }
        .city{
            h3{
                text-align: center;
            }
        }
        .popup-but{
            position: relative;
            left: auto;
            margin-left: 0;
            bottom: auto;
            margin-top: 40px;
        }
        .logo{
            tt{
                text-align: center;
                bottom: -95px;
                left: 50%;
                margin-left: -103.5px;
            }
        }
    }
    @media only screen and (max-width : 405px){
        padding: 70px 15px 125px 15px;
        .footer-menu {
            li{
                width: 150px;
            }
        }
    }
    @media only screen and (max-width : 329px){
        .footer-menu {
            li{
                width: 140px;
            }
        }
    }

}
.footer-menu{
    float: left;
    max-width: 535px;
    margin-left: 60px;
    li{
        float: left;
        a{
            margin: 15px 20px;
            font-size: 20px;
            color: #7d868b;

        }
    }
    @media only screen and (max-width : 1750px){
            margin-left: 20px;
    }
    @media only screen and (max-width : 991px){
        margin-left:0;
        max-width: 360px;
        margin-top: 10px;
        li{
            width: 178px;
            a{
                margin: 10px 0;
            }
        }
    }
}

.eror{
    background-color:#eaf3f6;
    left: 90px;
    position: relative;
    margin-bottom: 90px;
    .inner{
        right: 90px;
    }
    @media only screen and (max-width : 1750px){
        left: 0px;
        .inner{
            right: 0px;
        }
    }
  @media only screen and (max-width : 1300px){
    padding: 0 25px;
  }
}


.breadcrumbs{
    margin: 50px 180px;
    .active{
        color: #bbc0c4;
    }
    ul{
        li{
            float: left;
            &:first-child{
                a{
                    margin-left: 0;
                }
            }
            &:last-child{
                a{
                    &:after{
                        display: none;
                    }
                }
            }
        }
    }
    a{
        font-size: 20px;
        font-family:FuturaNewBook;
        color: #7d868b;
        margin: 0 15px;
        display: block;
        position: relative;
        &:after{
            position: absolute;
            right: -20px;
            top: 0;
            content: '/';
            font-size:20px;
            color: #bbc0c4;
        }
    }
    @media only screen and (max-width : 1750px){
        margin: 50px 90px;
    }
    @media only screen and (max-width : 991px){
        margin: 50px 25px;
    }
    @media only screen and (max-width : 792px){
        a{
            font-size: 18px;
        }
    }
    @media only screen and (max-width : 450px){
        margin: 50px 15px;
    }

}

.txt-404{
    text-align: center;
    padding: 150px 90px;
    h2{
        font-size: 46px;
        font-family:FuturaNewDemi;
        color: #3e3e3e;
    }
    p{
        font-size: 28px;
        text-align: left;
        font-family:FuturaNewBook;
    }
  @media only screen and (max-width : 991px){
    h2{
      display: none;
    }
  }
    @media only screen and (max-width : 700px){
        padding: 70px 25px;
    }
    @media only screen and (max-width : 400px){
        padding: 50px 10px;
    }
}






.article{
    background-color: #eaf3f6;
    position: relative;
    left: 90px;
    margin-bottom: 90px;
    .inner{
        right: 90px;
    }
    @media only screen and (max-width : 1750px){
        left: 0px;
        .inner{
            right: 0px;
            padding: 0 25px;
        }
        .all-title{
            left: auto;
        }
    }
    @media only screen and (max-width : 500px){
        .inner{
            padding: 0 15px;
        }
    }
}

.section-a{
    padding: 130px 0 20px 0;
    li{
        margin: 40px 0;
        padding: 0 90px;
        &:hover{
            .text-art{
                h2{
                    color: #ff0920;
                }
            }
        }
    }
    @media only screen and (max-width : 1320px){
        li{
            padding: 0;
        }
    }
    @media only screen and (max-width : 725px){
        padding-top: 30px;
    }
}

.foto-art{
    display: inline-block;
    vertical-align: top;
    width: 19.4%;
    @media only screen and (max-width : 1750px){
        width: 20%;
    }
    @media only screen and (max-width : 1450px){
        width: 300px;
    }
    @media only screen and (max-width : 991px){
        width: 50%;
        img{
            width: 100%;
        }

    }
    @media only screen and (max-width : 725px){
        width: 100%;
    }

}
.text-art{
    display: inline-block;
    border-bottom: 1px solid #d7e2e7;
    margin-left: 60px;
    width: 76.5%;
    h2{
        color: #000000;
        font-size:36px;
        line-height: 36px;
        font-family:FuturaNewDemi;
    }
    p{
        color: #414748;
        font-size: 28px;
        font-family:FuturaNewBook;
        max-height: 130px;
        margin-top: 30px;
        overflow-y: hidden;
    }
    a{
        border: 5px solid #fff;
        color: #414748;
        font-family:FuturaNewDemi;
        font-size:20px;
        display: inline-block;
        padding: 5px 31px;
        margin: 25px 0;
        &:hover{
            color: #ff0920;
            text-decoration: none;
        }
    }
    @media only screen and (max-width : 1750px){
        width: 75%;
    }
    @media only screen and (max-width : 1450px){
        width: 69%;

    }
    @media only screen and (max-width : 1224px){
        width: 60%;
        border-bottom: none;
        p{
            font-size: 18px;
            max-height: 117px;
        }
    }
    @media only screen and (max-width : 991px){
        width: 49%;
        margin: 0;
        padding: 0 30px;
        h2{
            font-size: 28px;
            letter-spacing: -0.2px;
        }
        p{
            max-height: 135px;

        }
    }
    @media only screen and (max-width : 780px){
        p{
            max-height: 160px;
        }
    }
    @media only screen and (max-width : 725px){
        width: 100%;

        padding: 30px 0;
    }
}


.list-section-a{
    text-align: center;
    padding: 35px 0;
    .active{
            color: #ff0920;
    }
    ul{
        display: inline-block;
    }
    li{
        float: left;
        &:first-child{
            a{
                background-image: url("../img/arrow-article.png");

            }
        }
        &:last-child{
            a{
                background-image: url("../img/arrow-article1.png");
            }
        }
    }
    a{
        border: 5px solid #cddadf;
        font-size:28px;
        line-height: 72px;
        color: #414748;
        display: block;
        font-family:FuturaNewBook;
        width: 85px;
        height: 85px;
        margin: 0 7.5px;
        background-position: center;
        background-repeat: no-repeat;
        &:hover{
            text-decoration: none;
        }
    }
    @media only screen and (max-width : 991px){
        a{
            width: 50px;
            height: 50px;
            line-height: 40px;
            font-size: 20px;
        }
    }
}


.in-articles-text{
    padding: 125px 90px 95px 90px;
    p{
        font-size:28px;
        font-family:FuturaNewBook;
        margin: 20px 0;
        color: #414748;
    }
    h3{
        font-size:28px;
        color: #414748;
        font-family:FuturaNewDemi;
        margin: 25px 0;
    }
    img{
        width: 100%;
    }
    @media only screen and (max-width : 991px){
        padding: 125px 0px 95px 0px;
        p{
            font-size: 18px;
        }
        h3{
            font-size: 18px;
        }
    }
}


.in-article{
    @media only screen and (max-width : 1450px){
        .all-title{
            padding: 20px 25px;
            h2{
                font-size: 35px;
            }
        }
    }
    @media only screen and (max-width : 991px){
        .all-title{
            max-width: 505px;
        }
    }
    @media only screen and (max-width : 550px){
        .all-title{
            position: relative;

        }
    }
}




.contacts{
    padding: 160px 75px 400px 75px;
    form{
        p{
            color: #414748;
            font-size: 28px;
            line-height: 29px;
        }
        input{
            display: block;
            max-width: 644px;
            width: 100%;
            border: 2px solid #d7d7d7;
            padding: 7.5px 18px;
            margin-top: 20px;
            font-size: 20px;
            font-family:FuturaNewBook;
            @include placeholder{
                font-family:FuturaNewBook;
                color: #414748;
                font-size: 20px;
            }
        }
        textarea{
            display: block;
            max-width: 644px;
            width: 100%;
            border: 2px solid #d7d7d7;
            padding: 19px 0 0 19px;
            font-family:FuturaNewBook;
            color: #414748;
            font-size: 20px;
            margin-top: 20px;
            @include placeholder{
                font-family:FuturaNewBook;
                color: #414748;
                font-size: 20px;
            }
        }
        button{
            color: #fff;
            font-size:20px;
            background-color: #2d2d2d;
            display: inline-block;
            margin-top: 22px;
            font-family:FuturaNewBold;
            padding: 18.5px 43px;
        }
    }
    @media only screen and (max-width : 1650px){
        padding: 160px 55px 400px 55px;
    }
    @media only screen and (max-width : 1330px){
        padding: 160px 0px 400px 0px;
    }
    @media only screen and (max-width : 991px){
        padding: 60px 0px 400px 0px;
        button{
            float:right;
        }

        form{
            p{
                font-size: 22px;
                font-family:FuturaNewBook;
            }
            br{
                display: none;
            }
            input{
                max-width: inherit;
            }
            textarea{
                max-width: inherit;
            }
        }
    }
    @media only screen and (max-width : 522px){
        button{
            float: none;
        }
    }
    @media only screen and (max-width : 512px){
        padding: 85px 0px 400px 0px;
        .col-xs-12{
            padding: 0;
        }
    }
    @media only screen and (max-width : 400px){
        form{
            p{
                font-size: 18px;
            }
        }
    }
    @media only screen and (max-width : 350px){
        padding: 60px 0px 50px 0px;
    }
}



.in-contacts-f{
    @media only screen and (max-width : 991px){
        .inner{
            padding: 0 10px;
        }
    }
}


.cont-phones{
    h3{
        display: inline-block;
        vertical-align: top;
        font-size:28px;
        line-height: 33px;
        color: #414748;
        font-family:FuturaNewDemi;
        width: 288px;
    }
    p{
        display: inline-block;
        font-size: 28px;
        color: #414748;
        line-height: 28px;
        font-family:FuturaNewBook;
    }
    @media only screen and (max-width : 1330px){
        h3{
            width: 260px;
        }
    }
    @media only screen and (max-width : 1242px){
        h3{
            width: auto;
            display: block;
        }
    }
    @media only screen and (max-width : 991px){
        h3{
            width: 300px;
            display: inline-block;
        }
    }
    @media only screen and (max-width : 656px){
        h3{
            font-size: 18px;
            width: 165px;
        }
        p{
            font-size: 18px;
        }
        .email-cont a{
            font-size: 18px;
        }
    }
    @media only screen and (max-width : 383px){
        h3{
            width: 160px;
            line-height: 24px;
        }
    }
    @media only screen and (max-width : 350px){
        text-align: center;
        h3{
            text-align: center;
            width: inherit;
            display: block;
        }
    }
}

.br-phone{
    display: none;
    @media only screen and (max-width : 383px){
        display: block;
    }
}

.work-time{
    padding-top: 40px;
}

.email-cont{
    padding-top: 45px;
    a{
        color: #ff0920;
        font-size: 28px;
        font-family:FuturaNewBook;
        display: inline-block;
        line-height: 28px;
        cursor: pointer;
    }
}
.p-cont{
    padding-top: 39px;
    @media only screen and (max-width : 991px){
        h3{
            display: block;
            width: auto;
            br{
                display: none;
            }

        }
    }
}
.social-cont{
    display: inline-block;
    a{
        font-size:28px;
        color: #414748;
        margin-bottom: 39px;
        display: block;
        &:hover{
            color: #ff0920;
            text-decoration: none;
        }
    }
    i{
        padding-right: 18px;
    }
    @media only screen and (max-width : 991px){

        ul{
            max-width: 650px;
            margin-top: 15px;
        }
        li{
            float: left;
            width: 315px;
        }
    }
    @media only screen and (max-width : 679px){
        ul{
            width: 500px;
        }
        li{
            width: 245px;
        }
    }
    @media only screen and (max-width : 679px){
        li{
            width: 180px;
        }
        a{
            font-size: 18px;
        }
    }
    @media only screen and (max-width : 552px){
        ul{
            width: 350px;
        }
        li{
          width: 165px;
        }
        .email-cont {
            a{
                text-align: center;
            }

        }
    }
    @media only screen and (max-width : 350px){
        ul{
            width: inherit;
            text-align: center;
        }
        li{
            display: inline-block;
            float: none;
            width: inherit;
            margin: 0 10px;
        }
    }
}



body .capcha{
    input{
        max-width: 200px;
        display: inline-block;
    }
    .text-capcha{
        display: inline-block;
        margin-left: 5px;
    }
    @media only screen and (max-width : 991px){
        float: left;
    }
}


.cont-icons{
    position: absolute;
    bottom: 110px;
    left: 0;
    li{
        float: left;
        margin: 0 25px;
    }
    @media only screen and (max-width : 991px){
        bottom: 50px;
    }
    @media only screen and (max-width : 559px){
        position: relative;
        bottom: auto;
        li{
            float: none;
            margin: 20px 0;
        }
    }
    @media only screen and (max-width : 512px){
        left: -15px;
    }
}


.text-amenities-in{
    padding: 0 90px;
    text-align: left;
    p{
        font-size:28px;
        font-family:FuturaNewBook;
    }
    @media only screen and (max-width : 1640px){
        padding: 0 35px;
    }
    @media only screen and (max-width : 991px){
        p{
            br{
                display: none;
            }
        }
    }
    @media only screen and (max-width : 800px){
        p{
            font-size: 20px;
        }
    }
}

.reviews-secondary{
    padding: 120px 90px;
    p{
        font-family:FuturaNewBook;
        font-size:28px;
        color: #414748;
        padding-top: 20px;
        line-height: 30px;
    }
    ul{
        text-align: center;
        li{
            max-width: 1200px;
            display: inline-block;
            margin: 50px 0;
        }
    }
    @media only screen and (max-width : 991px){
        padding: 80px 25px;
    }
    @media only screen and (max-width : 500px){
        p{
            font-size: 24px;
        }
    }
    @media only screen and (max-width : 450px){
     padding: 80px 15px;
    }
    @media only screen and (max-width : 400px){
        padding: 0px 15px;
    }
}
.img-rev-second{
    display: inline-block;
    vertical-align: top;
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 120px;
    img{
        width: 100%;
    }
}
.text-rev-second{
    display: inline-block;
    max-width: 900px;
    padding-left: 90px;
    text-align: left;
    h2{
        font-size:28px;
        font-family:FuturaNewDemi;
        line-height: 30px;
    }
    p{
        font-size: 20px;
        font-family: FuturaNewBook;
    }
    h3{
        font-size:26px;
        font-family:FuturaNewMedium;
        line-height: 28px;
        padding-top: 25px;
    }
    @media only screen and (max-width : 1263px){
        max-width: 700px;
    }
    @media only screen and (max-width : 1263px){
        max-width: 500px;
    }
    @media only screen and (max-width : 733px){
        max-width: inherit;
        width: 100%;
        padding-left: 0;
        h2{
            text-align: center;
            padding-top: 15px;
        }
        h3{
            text-align: center;
        }
    }
    @media only screen and (max-width : 450px){
        h2{
            font-size: 24px;
        }
    }
}



.portfolio{
  padding: 120px 90px;
  p{
    font-size:28px;
    font-family:FuturaNewBook;
    line-height: 33px;
    color: #414748;
  }
    @media only screen and (max-width : 991px){
        padding: 90px 25px;
    }
    @media only screen and (max-width : 450px){
        padding: 80px 15px;
    }
    @media only screen and (max-width : 400px){
        padding: 0px 15px;
    }
}

.section-p{
    padding: 0;
    ul{
        text-align: center;
    }

    li{
        max-width: 1560px;
        display: inline-block;
        padding: 0;
        background-color: #fff;
        @media only screen and (max-width : 1079px){
            display: inline-block;
            vertical-align: top;
            max-width: 400px;
            margin: 20px 15px;
            &:nth-child(2n){
                margin-right: 0;
            }
            &:nth-child(2n+1){
                margin-left: 0;
            }

        }
        @media only screen and (max-width : 991px){
            max-width: 345px;
        }
    }

    .foto-art{
        display: block;
        float: left;
        width: 750px;
        img{
            width: 100%;
        }
        @media only screen and (max-width : 1650px){
            width: 650px;
        }
        @media only screen and (max-width : 1450px){
            width: 550px;
        }
        @media only screen and (max-width : 1279px){
            img{
                height: 343px;
            }
        }
        @media only screen and (max-width : 1179px){
            width: 500px;
        }
        @media only screen and (max-width : 1079px){
            width: inherit;
            float: none;
        }
        @media only screen and (max-width : 991px){
            img{
                height: 198px;
            }
        }
    }
    .text-art{
        display: block;
        text-align: left;
        float: left;
        width: 810px;
        border: none;
        margin: 0;
        padding-left: 60px;
        padding-top: 69px;
        padding-right: 60px;
        p{
            font-size:20px;
            line-height: 23px;
        }
        a{
            border: 5px solid #eaf3f6;
        }
        @media only screen and (max-width : 1750px){
            width: 770px;
        }
        @media only screen and (max-width : 1650px){
            width: 670px;
        }
        @media only screen and (max-width : 1450px){
            width: 550px;
            padding-top: 22px;
        }
        @media only screen and (max-width : 1320px){
            p{
                height: 117px;
            }
        }
        @media only screen and (max-width : 1279px){
            width: 450px;
        }
        @media only screen and (max-width : 1179px){
            width: 400px;
        }
        @media only screen and (max-width : 1079px){
            width: inherit;
            float: none;
            min-height: 323px;
            text-align: center;
            padding: 25px 28px;
            h2{
                text-align: left;
                font-size: 32px;
            }
            p{
                text-align: left;
            }
        }
    }

}

.portfolio-in{
    padding: 124px 240px;
    @media only screen and (max-width : 1350px){
        padding: 124px 0px;
    }
    @media only screen and (max-width : 400px){
        padding: 0;
    }
}
.slider-portfolio{
    padding: 0 150px;
    position: relative;
    .lSSlideOuter .lSGallery li, .lSSlideOuter .lightSlider>*{
        img{
            width: 100%;
        }
    }
    .lSSlideOuter .lSPager.lSGallery{
        margin-top: 3px !important;
    }
    @media only screen and (max-width : 991px){
        padding: 0 25px;
    }
    @media only screen and (max-width : 400px){
        padding: 0;
    }
}

.prev-portfolio{
    padding: 0 150px;
    li{
        padding-top: 50px;
    }
    h2{
        font-size: 46px;
        font-family:FuturaNewDemi;
        color: #3e3e3e;
        line-height: 46px;
    }
    p{
        font-size: 29px;
        padding-left: 60px;
        color: #414748;
        padding-top: 39px;

    }
    img{
        padding-right: 25px;
        display: inline-block;
        vertical-align: middle;
    }
    span{
        font-family:FuturaNewHeavy;
    }
    @media only screen and (max-width : 991px){
        padding: 0 25px;
        img{
            padding-right: 10px;
        }
        h2{
            font-size: 32px;
            line-height: 32px;
        }
        p{
            font-size: 20px;
            padding-top: 15px;
            padding-left: 46px;
        }
    }
}


.arrow-slider-pt{
    a{
        width: 85px;
        height: 85px;
        display: block;
        position: absolute;
        top: 30%;
        border: 5px solid #cddadf;
        background-repeat: no-repeat;
        background-position: center;
        &:hover{
            border: 5px solid red;
        }

    }
    @media only screen and (max-width : 991px){
        position: relative;
        width: 100%;
        margin-top: 19px;
      a{
          top: 0;
          position: relative;
          float: left;
      }
    }
}
.left-arrow-pt{
    a{
        left: 45px;
        background-image: url("../img/arrow-article.png");
    }
    @media only screen and (max-width : 991px){
        a{
            left: 0;
        }
    }
}
.right-arrow-pt{
    a{
        right: 45px;
        background-image: url("../img/arrow-article1.png");
    }
    @media only screen and (max-width : 991px){
        a{
            right: 0;
            float: right;
        }
    }
}


.price-in{
    padding: 120px 0;
    li{
        margin-bottom: 32px;
    }
    @media only screen and (max-width : 1062px){
        ul{
            text-align: center;
        }
        li{
            text-align: left;
            max-width: 400px;
            display: inline-block;
            vertical-align: top;
            margin: 20px 14px;
        }
        .img-price{
            width: 100%;
            float: none;
            img{
                height: inherit;
            }
        }
        .text-price{
            width: 100%;
            float: none;
            max-height: inherit;
            min-height: inherit;
            p{
                min-height: inherit;
            }
            .price-coast{
                text-align: center;
                padding-bottom: 30px;
                p{
                    display: block;
                }
                a{
                    display: inline-block;
                    margin-top: 15px;
                    float: none !important;
                }
            }
        }
    }
    @media only screen and (max-width : 991px){
        padding: 50px 25px;
        li{
            max-width: 345px;
            &:nth-child(2n){
                margin-right: 0;
            }
            &:nth-child(2n+1){
                margin-left: 0;
            }
        }
        .text-price{
            padding: 20px 15px;
            h2{
                font-size: 28px;
                line-height: 29px;
            }
            .price-coast{
                a{
                    padding: 13.5px 28px;
                }
            }
        }

    }
    @media only screen and (max-width : 772px){
        li{
            margin: 20px 11px;
        }
    }
    @media only screen and (max-width : 767px){
        padding: 50px 15px;
    }
    @media only screen and (max-width : 745px){
        li{
            max-width: inherit;
            width: 100%;
            &:nth-child(2n){
                margin: 20px 0 20px 0;
            }
            &:nth-child(2n+1){
                margin: 20px 0 20px 0 ;
            }
        }
    }
    @media only screen and (max-width : 400px){
        padding: 0;
        li{
            &:nth-child(2n){
                margin: 0 0 20px 0;
            }
            &:nth-child(2n+1){
                margin: 0 0 20px 0 ;
            }
        }
    }
}

.img-price{
    float: left;
    width: 50%;
    img{
        width: 100%;
    }
    @media only screen and (max-width : 1200px){
        img{
            height: 374px;
        }
    }
    @media only screen and (max-width : 1115px){
        img{
            height: 385px;
        }
    }
}
.text-price{
    width: 50%;
    background-color: #fff;
    float: left;
    padding: 50px 101px;
    max-height: 529px;
    min-height: 529px;
    h2{
        font-size: 46px;
        font-family:FuturaNewDemi;
        color: #414748;
        line-height: 47px;
    }
    p{
        font-size: 26px;
        font-family:FuturaNewBook;
        line-height: 29px;
        padding-top: 30px;
        color: #414748;
        min-height: 229.5px;
    }
    @media only screen and (max-width : 1750px){
        min-height: 521.33px;
        max-height: 521.33px;
    }
    @media only screen and (max-width : 1650px){
        min-height: 488.75px;
        max-height: 488.75px;
    }
    @media only screen and (max-width : 1450px){
        min-height: 434.44px;
        max-height: 434.44px;
        padding-top: 20px;
        h2{
            font-size:40px;
            line-height: 40px;
        }
        p{
            font-size: 20px;
        }
    }
    @media only screen and (max-width : 1320px){
        min-height: 391px;
        max-height: 391px;
        padding: 20px 50px;
        h2{
            font-size:30px;
            line-height: 30px;
        }
        p{
            font-size: 18px;
            padding-top: 15px;
        }
        .price-coast{
            padding-top: 15px;
        }
    }
    @media only screen and (max-width : 1260px){
        min-height: 383px;
        max-height: 383px;
    }
    @media only screen and (max-width : 1230px){
        min-height: 374px;
        max-height: 374px;
        .price-coast{
            padding-top: 0px;
        }
    }
    @media only screen and (max-width : 1115px){
        min-height: 385px;
        max-height: 385px;
        .price-coast{
            padding-top: 15px;
        }
    }
}

.price-coast{
    padding: 38px 0;
    p{
        display: inline-block;
        padding: 0;
        font-size: 36px;
        min-height: inherit;
    }
    span{
        color: #ff0920;
        font-family:FuturaNewHeavy;
    }
    a{
        color: #ff0920;
        font-size:20px;
        border: 5px solid #cddadf;
        display: block;
        padding: 13.5px 51.5px;
        font-family:FuturaNewHeavy;
        text-transform: uppercase;
        margin-top: -20px;
        &:hover{
            text-decoration: none;
            border: 5px solid #ff0920;
        }
    }
}



.all-forms{
    h2{
        font-size:45px;
        font-family:FuturaNewDemi;
        line-height: 45px;
        color: #000;
    }
    p{
        font-size: 30px;
        line-height: 30px;
        padding: 30px 0;
    }
    input{
        border: 2px solid #d7d7d7;
        padding: 10px 22px;
        max-width: 382px;
        vertical-align: top;
        width: 100%;
        font-size: 28px;
        font-family:FuturaNewBook;
        @include placeholder{
            font-size: 28px;
            color: #818d8f;
            font-family:FuturaNewBook;
        }
    }
    button{
        background-color: #ff0920;
        text-transform: uppercase;
        color: #fff;
        border: 5px solid #ff0920;
        padding: 13.7px 32.5px;
        font-size: 20px;
        margin-left: 10px;
        &:hover{
            background-color: transparent;
        }
    }
}
.head-banner-in{
    text-align: center;
    h1{
        font-size:54px;
        line-height: 54px;
        margin: 0;
    }
    h2{
        padding-top: 35px;
        font-size: 42px;
        color: #fff;
        line-height: 50px;
        font-family:FuturaNewMedium;
    }
    span{
        color: #ff0920;
    }
    p{
        padding-top: 30px;
        font-size: 28px;
        color: #fff;
        line-height: 30px;
        font-family:FuturaNewBook;
    }
    form{
        margin-top: 40px;
    }
}

.recomend-crime{
    position: relative;
    left: 90px;
    background-color: #eaf3f6;
    border-bottom: 7px solid #cddadf;
    border-left: 7px solid #cddadf;
    border-top: 7px solid #cddadf;
    margin-bottom: 89px;
    text-align: center;
    padding-bottom: 120px;
    .inner{
        right: 90px;
    }
    h2{
        padding-top: 54px;
        font-size:36px;
        line-height: 40px;
        font-family:FuturaNewBook;
    }
    span{
        color: #ff0920;
        font-family:FuturaNewMedium;
    }
}

.right-ots{
    background-color: #eaf3f6;
    position: relative;
    right: 90px;
    .inner{
        left: 90px;
    }
}

.items-crime{
    padding: 150px 0;
    max-width: 1350px;
    margin: 0 auto;
    h2{
        font-size: 46px;
        color: #3e3e3e;
        line-height: 46px;
        font-family:FuturaNewDemi;
    }
    p{
        font-size: 28px;
        line-height: 34px;
        color:#414748;
        padding-top: 30px;
        font-family:FuturaNewBook;
    }
    .crime-img{
        padding-top: 45px;
        li{
            display: inline-block;
            vertical-align: top;
            margin: 0 10px;
            margin-bottom: 60px;
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
}


.price-in-c{
    background-image: url("../img/bg1.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
}
.price-crime{
    max-width: 1140px;
    margin: 120px 0;
    width: 100%;
    padding: 70px 0;
    display: inline-block;
    background-color: #eaf3f6;
    h2{
        font-size: 36px;
        font-family:FuturaNewDemi;
        color: #000000;
    }
    h3{
        padding-top: 30px;
        font-family:FuturaNewMedium;
        font-size:36px;
        color: #414748;

    }
    span{
        color: #ff0920;
        font-family:FuturaNewDemi;
    }
    p{
        padding-top: 30px;
        color:#414748;
        line-height: 30px;
        font-size:26px;
        font-family:FuturaNewBook;
    }
    
}


.call-back-c{
    background-image: url("../img/bg2.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    margin: 80px 0;
    position: relative;
    left: 90px;
    .inner{
        right: 90px;
    }
    form{
        margin: 120px 0;
        display: inline-block;
        h2{
            color: #fff;
            font-size:45px;
            line-height: 45px;
            font-family:FuturaNewDemi;
            padding-bottom: 40px;
        }
    }
}

.foot-callback{
    margin: 80px 0;
    .inner{
        border-top: 7px solid #ebf3f6;
        border-bottom: 7px solid #ebf3f6;
        background-image: url("../img/b-bg-form.jpg");
        background-position: right center;
        background-repeat: no-repeat;
    }
    .all-forms{
        padding: 120px 90px;
        button{
            box-shadow: 1px 6px 30px #ff0920;
            &:hover{
                color: #000;
            }
        }
    }
}
//ALWAYS END
@import "media.scss";
@import "sketches.scss";