*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

.experience ul {
  width: 100%; }

.experience li {
  height: 300px;
  float: left;
  width: 25%;
  border-right: 1px solid #dae5e9;
  padding-left: 60px;
  padding-top: 50px; }
  .experience li:first-child {
    padding-left: 0; }
  .experience li:last-child {
    border-right: 0; }
  .experience li h2 {
    padding-top: 25px;
    font-size: 60px;
    line-height: 60px;
    color: #ff0920;
    font-family: FuturaNewDemi; }
  .experience li p {
    color: #000000;
    font-size: 30px;
    line-height: 35px; }

@media only screen and (max-width: 1750px) {
  .experience li:first-child {
    padding-left: 60px; } }

.amenities {
  background-color: #eaf3f6;
  left: 90px;
  position: relative;
  margin-bottom: 70px;
  padding-bottom: 60px; }
  .amenities .inner {
    right: 90px; }
  @media only screen and (max-width: 1750px) {
    .amenities {
      left: 0; }
      .amenities .inner {
        right: 0; } }

.all-title {
  top: -29px;
  left: 0px;
  position: absolute;
  background-color: #2d2d2d;
  padding: 20px 90px; }
  .all-title .red-line {
    width: 29px;
    height: 3px;
    background-color: #ff0920;
    margin-left: 4px; }
  .all-title h2 {
    color: #fff;
    font-size: 50px;
    font-family: FuturaNewHeavy; }

.am-items {
  padding-top: 121px;
  text-align: center; }
  .am-items li {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 29.5px 30px;
    background-color: #fff;
    max-width: 750px; }
    .am-items li p {
      font-size: 20px;
      font-family: FuturaNewBook; }
    .am-items li .text-am {
      padding: 38px 65px 38px 50px; }
    @media only screen and (max-width: 1750px) {
      .am-items li {
        margin: 29.5px 14px; }
        .am-items li:nth-child(2n) {
          margin-right: 0; }
        .am-items li:nth-child(2n+1) {
          margin-left: 0; } }
    @media only screen and (max-width: 1450px) {
      .am-items li {
        max-width: 600px; } }
  .am-items .title-item {
    height: 363px;
    position: relative; }
    .am-items .title-item h2 {
      position: absolute;
      bottom: 25px;
      left: 54px;
      color: #fff;
      font-size: 50px;
      line-height: 52px;
      font-family: FuturaNewDemi; }
    .am-items .title-item img {
      width: 100%; }
    @media only screen and (max-width: 1450px) {
      .am-items .title-item {
        height: auto; } }

.price-am {
  margin-top: 35px; }
  .price-am h3 {
    color: #ff0920;
    font-size: 36px;
    font-family: FuturaNewHeavy;
    display: inline-block; }
  .price-am span {
    font-family: FuturaNewBook;
    color: #3e3e3e; }
  .price-am a {
    float: right;
    display: block;
    font-size: 20px;
    color: #ff0920;
    border: 5px solid #eaf3f6;
    font-family: FuturaNewDemi;
    padding: 4.5px 30.5px; }
    .price-am a:hover {
      border: 5px solid #ff0920;
      text-decoration: none; }

.auto-slide {
  background-color: #212425;
  position: relative;
  right: 90px; }
  .auto-slide .inner {
    left: 90px; }
  .auto-slide .all-title {
    left: 45%;
    z-index: 69; }
    .auto-slide .all-title h2 {
      line-height: 55px; }
    @media only screen and (max-width: 1320px) {
      .auto-slide .all-title {
        left: 0; } }
  .auto-slide .lSSlideOuter .lSPager.lSpg {
    position: absolute;
    bottom: 150px;
    left: 52%; }
  .auto-slide .lSSlideOuter .lSPager.lSpg > li a {
    padding-top: 5px;
    background-color: #4b5153;
    width: 16px;
    height: 16px;
    -webkit-border-radius: 120px;
    border-radius: 120px;
    display: block;
    margin: 0 10px; }
    .auto-slide .lSSlideOuter .lSPager.lSpg > li a:hover {
      background-color: #fff; }
  .auto-slide .lSSlideOuter .lSPager.lSpg > li.active a, .auto-slide .lSSlideOuter .lSPager.lSpg > li:hover a {
    background-color: #fff; }
  @media only screen and (max-width: 1750px) {
    .auto-slide {
      right: 0; }
      .auto-slide .inner {
        left: 0; } }
  @media only screen and (max-width: 1450px) {
    .auto-slide .lSSlideOuter .lSPager.lSpg {
      position: absolute;
      bottom: 100px; } }
  @media only screen and (max-width: 1320px) {
    .auto-slide {
      padding: 0 25px; }
      .auto-slide .lSSlideOuter .lSPager.lSpg {
        left: 55%; } }

.img-slide-auto {
  padding-top: 69px;
  margin-left: 90px; }
  .img-slide-auto img {
    width: 100%; }
  @media only screen and (max-width: 1450px) {
    .img-slide-auto {
      margin-left: 25px; } }

.right-text-auto {
  padding-top: 150px;
  padding-left: 30px; }
  .right-text-auto h2 {
    color: #ff0920;
    font-size: 46px;
    font-family: FuturaNewDemi; }
  .right-text-auto p {
    padding-top: 15px;
    font-size: 20px;
    color: #fff;
    font-family: FuturaNewBook; }

.slider-auto-inputs {
  padding-left: 30px;
  padding-top: 30px; }
  @media only screen and (max-width: 1450px) {
    .slider-auto-inputs {
      padding-bottom: 70px; } }

.arrow-slider-a {
  text-align: right;
  padding-right: 90px; }
  .arrow-slider-a * {
    display: inline-block;
    vertical-align: top; }
  .arrow-slider-a a {
    border: 5px solid #2f3234;
    display: block;
    width: 85px;
    height: 85px;
    margin: 0 7.5px; }
    .arrow-slider-a a:hover {
      border: 5px solid #ff0920; }
  .arrow-slider-a .left-arrow-a a {
    background-image: url("../img/arrow-slide-l.png");
    background-repeat: no-repeat;
    background-position: center; }
  .arrow-slider-a .right-arrow-a {
    background-image: url("../img/arrow-slide-r.png");
    background-repeat: no-repeat;
    background-position: center; }

.reviews {
  margin: 107px 0;
  background-color: #ebf3f6;
  position: relative;
  left: 90px; }
  .reviews .inner {
    right: 90px; }
  .reviews .all-title {
    left: -50px; }
  @media only screen and (max-width: 1750px) {
    .reviews {
      left: 0; }
      .reviews .inner {
        right: 0; } }

.slider-reviews {
  min-height: 425px; }
  .slider-reviews li {
    position: relative;
    padding-top: 130px; }
  .slider-reviews ul {
    height: auto !important; }
  .slider-reviews .lSSlideOuter .lSPager.lSpg > li a {
    background-color: #cddadf;
    width: 15px;
    height: 15px; }
  .slider-reviews .lSSlideOuter .lSPager.lSpg > li.active a, .slider-reviews .lSSlideOuter .lSPager.lSpg > li:hover a {
    background-color: #ff0920; }

.img-client {
  width: 181px;
  height: 181px;
  -webkit-border-radius: 120px;
  border-radius: 120px;
  overflow: hidden;
  text-align: center;
  margin-left: 200px; }
  .img-client img {
    width: 100%; }
  @media only screen and (max-width: 1450px) {
    .img-client {
      margin: 0 auto; } }

.text-client h2 {
  font-size: 28px;
  color: #000;
  font-family: FuturaNewDemi; }

.text-client p {
  font-size: 20px;
  font-family: FuturaNewBook; }

.text-client h3 {
  font-size: 26px;
  padding-top: 15px;
  color: #000; }

.arrow-slider-r {
  padding-top: 48px; }
  .arrow-slider-r * {
    display: inline-block;
    vertical-align: top; }
  .arrow-slider-r a {
    border: 5px solid #cddadf;
    width: 85px;
    height: 85px;
    display: block;
    margin: 0 7.5px; }
    .arrow-slider-r a:hover {
      border: 5px solid #ff0920; }
  .arrow-slider-r .left-arrow-r {
    background-image: url("../img/arrow-slider-l.png");
    background-position: center;
    background-repeat: no-repeat; }
    .arrow-slider-r .left-arrow-r:hover {
      background-image: url("../img/arrow-slider-red-l.png"); }
  .arrow-slider-r .right-arrow-r {
    background-image: url("../img/arrow-slider-r.png");
    background-position: center;
    background-repeat: no-repeat; }
    .arrow-slider-r .right-arrow-r:hover {
      background-image: url("../img/arrow-slider-red-r.png"); }
  @media only screen and (max-width: 1320px) {
    .arrow-slider-r {
      margin-left: -45px; } }

.quest {
  background-color: #ebf3f6;
  position: relative;
  right: 90px; }
  .quest .inner {
    left: 90px; }
  @media only screen and (max-width: 1750px) {
    .quest {
      right: 0; }
      .quest .inner {
        left: 0; } }

.left-q-d {
  float: left;
  width: 50%;
  padding-top: 80px;
  padding-left: 90px; }
  .left-q-d h2 {
    font-size: 50px;
    color: #ff0920;
    font-family: FuturaNewHeavy; }
  .left-q-d p {
    font-size: 20px;
    font-family: FuturaNewBook;
    padding-top: 20px; }

.right-foto-dima {
  float: left;
  width: 50%;
  background-image: url("../img/bg-wall.png");
  background-position: center;
  background-size: cover;
  text-align: center; }
  .right-foto-dima img {
    margin-top: -45px; }
  @media only screen and (max-width: 1450px) {
    .right-foto-dima {
      min-height: 623px; }
      .right-foto-dima img {
        margin-top: 0;
        width: 100%; } }

.name-d {
  margin-top: 20px;
  text-align: right; }
  .name-d h3 {
    font-family: FuturaNewMedium;
    font-size: 26px;
    color: #000; }
  .name-d p {
    padding-top: 0px;
    color: #414748; }

.forma {
  margin: 90px 0; }
  .forma form {
    border: 5px solid #ebf3f6; }
  @media only screen and (max-width: 1750px) {
    .forma {
      padding: 25px; } }

.left-img {
  width: 50%;
  position: relative; }
  .left-img img {
    position: absolute;
    left: -60px;
    top: -50px; }
  @media only screen and (max-width: 1600px) {
    .left-img {
      float: left; }
      .left-img img {
        position: relative;
        width: 100%;
        top: auto;
        left: auto; } }

.right-form {
  width: 50%;
  float: right;
  padding-top: 65px;
  padding-bottom: 70px; }
  .right-form h2 {
    font-size: 45px;
    font-family: FuturaNewDemi;
    line-height: 45px; }
  .right-form p {
    padding-top: 20px;
    font-size: 30px;
    line-height: 35px;
    font-family: FuturaNewBook; }
  .right-form span {
    color: #ff0920; }
  .right-form input {
    border: 2px solid #d7d7d7;
    max-width: 360px;
    display: block;
    margin-top: 20px;
    color: #414748;
    width: 100%;
    padding: 10.5px 18px; }
    .right-form input::-webkit-input-placeholder {
      color: #414748;
      font-size: 20px;
      font-family: FuturaNewBook; }
    .right-form input::-moz-placeholder {
      color: #414748;
      font-size: 20px;
      font-family: FuturaNewBook; }
    .right-form input:-moz-placeholder {
      color: #414748;
      font-size: 20px;
      font-family: FuturaNewBook; }
    .right-form input:-ms-input-placeholder {
      color: #414748;
      font-size: 20px;
      font-family: FuturaNewBook; }
  .right-form button {
    display: block;
    max-width: 360px;
    text-align: center;
    background-color: #ff0920;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    width: 100%;
    padding: 19px 0;
    margin-top: 20px; }
  @media only screen and (max-width: 1600px) {
    .right-form h2 {
      font-size: 40px; } }
  @media only screen and (max-width: 1320px) {
    .right-form h2 {
      font-size: 35px; } }

footer {
  background-color: #212425;
  padding-top: 70px; }
  footer .logo * {
    display: block; }
  footer .logo p {
    margin-left: 0;
    color: #52575a;
    font-size: 16px;
    margin-top: 8px; }
  footer .logo tt {
    color: #7d868b;
    font-size: 16px;
    font-family: FuturaNewBook;
    display: block;
    margin-top: 25px; }
  footer .logo span {
    color: #fff;
    display: inline-block; }
  footer .social ul li a {
    background-color: #2c2f30;
    border: none; }
  footer .popup-but a {
    background-color: transparent;
    border: 5px solid #383a3b; }
    footer .popup-but a:hover {
      background-color: transparent; }
  @media only screen and (max-width: 1750px) {
    footer {
      padding: 70px 25px; } }

.footer-menu {
  float: left;
  max-width: 535px;
  margin-left: 60px; }
  .footer-menu li {
    float: left; }
    .footer-menu li a {
      margin: 15px 20px;
      font-size: 20px;
      color: #7d868b; }

/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .wrapper {
    width: auto; }
  .pad {
    padding: 50px 5px !important; }
  footer {
    text-align: center; }
    footer .wrapper {
      width: auto; }
    footer ul {
      float: none;
      display: inline-block;
      text-align: center; }
      footer ul li {
        margin-bottom: 10px;
        margin-right: 0;
        float: none; }
    footer .gs {
      float: none;
      display: block; } }

/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .pad {
    padding: 20px 5px !important; } }

/* ============================ form css =========================== */
#modal_callback_ok h3, #modal_callback_ok h4 {
  font: 30px RobotoRegular,Arial,sans-serif;
  text-align: center; }

#modal_callback_ok h4 {
  font-weight: 700; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 15px;
  display: block;
  right: 18px;
  height: 20px;
  color: #FF6565;
  cursor: default; }

.er_border, .error {
  border: 1px solid red !important; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  color: #000;
  font-style: italic;
  font-size: 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: left; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -6px;
  opacity: 1; }

.mess_error {
  position: absolute;
  z-index: 10;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  line-break: auto;
  padding: 5px 10px;
  opacity: 1;
  left: 0;
  top: 60px;
  width: 97%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #FF6565; }

.tooltip-inner {
  padding: 3px 8px;
  color: #FFF;
  text-align: center;
  background-color: #FF6565;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 15px; }

.field {
  position: relative;
  float: left; }

.section8 .tooltip-arrow {
  border-bottom-color: #000; }

.section8 .tooltip-inner {
  background-color: #000; }

.jb_input .field {
  width: 100%; }

.jb_input {
  /*   overflow: hidden;*/ }

.jb_input .mess_error {
  position: relative;
  width: 100%;
  padding: 5px 0px;
  top: -5px;
  float: left; }

/* ============================ form css media =========================== */
@media only screen and (max-width: 992px) {
  .allert, .allert_tell {
    top: 0; }
  .field {
    float: none; }
  .mess_error {
    position: relative;
    width: 215px;
    margin: 0 auto;
    top: 0;
    margin-bottom: 15px; } }

@media only screen and (max-width: 320px) {
  #modal_callback_ok {
    height: 200px; }
  .fancybox-inner {
    width: auto !important; }
  .fancybox-close {
    top: 0 !important;
    right: 0 !important; } }
